<div class="container col-12">
    <app-header></app-header>
    <div class="header col-11 mt-3">
        <div class="tag">
        <span>Acheivements and certificates </span>
        <div class="line "></div>
    </div>
    </div>
    <div class="card col-12 d-flex flex-column mt-3 row">
        <div class="box d-flex flex-column justify-content-end">
            <img src="../../assets/images/Wow award.png">
            <div class="description">
                <p>Won wow Award by Capgemini 2023 <a href="https://www.linkedin.com/posts/aneesh2001_im-excited-and-honoured-to-receive-the-wow-activity-7080034068158955520-CVG1?utm_source=share&utm_medium=member_desktop" target="_blank">click here</a></p>
            </div>
        </div>
        <div class="box d-flex flex-column justify-content-end">
            <img src="../../assets/images/java-goldrank.png">
            <div class="description">
                <p>Acciqured 5 star java gold rating <a href="https://www.hackerrank.com/profile/aneesh_1805010" target="_blank">click here </a></p>
            </div>
        </div>
        <div class="box d-flex flex-column justify-content-end">
           <img src="../../assets/images/hacker-rank.png">
            <div class="description">
                <p>Certify software dev (hacker rank) <a href="https://www.hackerrank.com/certificates/31dcc6aae216" target="_blank">click here</a></p>
            </div>
        </div>
    </div>
</div>