<div class="container col-12">
    <app-header></app-header>
    <div class="header col-12 mt-3">
      <span>Experience</span>
      <div class="line"></div>
    </div>
    <div class="timeline">
      <ul class="list-group"> <!-- Bootstrap class -->
        <li class="list-group-item"> <!-- Bootstrap class -->
          <div class="content">
            <h3>Intern <span>(Capgemini Jan-2022 - May-2022)</span></h3>
            <p>
              I worked on a full-stack project using Java Spring and React, where I learned to handle files and fix issues on both the frontend and backend. Using VS Code and IntelliJ, I connected both ends smoothly with REST API, improving my overall understanding of the project.
            </p>
          </div>
        </li>
        <li class="list-group-item"> <!-- Bootstrap class -->
          <div class="content">
            <h3>Associate Software Engineer<span> (Capgemini Aug-2022 - Present)</span></h3>
            <p>
              I worked on a front-end Angular project that mapped network switches worldwide. Our team integrated Google Map API, and I personally built a module to calculate traffic matrix for the existing network. I received a WoW Award and a 5/5 performance rating for my contributions to this project.
              and I'm currently engaged in a Java backend project, where I've focused on implementing authentication using the JWT algorithm, hashing, managing file operations, and debugging.
            </p>
          </div>
        </li>
        <!-- Add more list items for more experiences -->
      </ul>
    </div>
  </div>