<div class="container col-12 row" id="animatedElement" >
    <div class="header col-12">
    <app-header></app-header>
</div>
<div class="side-2 col-5 mt-3">
            
</div>
    <div class="side-1 col-7" >
        <div class="header col-12">
            <span>Professional skills </span>
            <div class="line "></div>
        </div>
        <div class="text-box col-12">
            <span>I am a professional software Engineer, I have acquired extensive experience in both front-end and
                back-end development
                contributing to a comprehensive skill set.
                and I possess the capability to develop powerful and resilient software.
            </span>
            <br>
            <div class="progress-bar-bootstrap mt-3">
                <h2>Java</h2>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="75" aria-valuemin="0"
                        aria-valuemax="100">80%</div>
                </div>
                <br>
                <h2>Angular</h2>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100">85%</div>
                </div>
                <br>
                <h2>Spring Boot</h2>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100">80%</div>
                </div>
                <br>
                <h2>SQL</h2>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100">80%</div>
                </div>
            </div>
        </div>
        </div>
      
    </div>
