
  <footer id="footer">
  
    <div class="col col1">
      <p>Made by <span style="color: #BA6573;"></span>Aneesh</p>
      <p>Contact no : +91-7339104055</p>
      <p>OR</p>
      <p>Email : {{email}}</p>
      <p>Check out my Social practice pages</p>
      <div class="social">
        <a href="https://www.hackerrank.com/profile/aneesh_1805010" target="_blank" class="link"><img src="../../assets/images/hackerrank.png" alt="" /></a>
        <a href="https://github.com/Aneesh0631" target="_blank" class="link"><img src="../../assets/images/png-transparent-github-social-media-computer-icons-logo-android-github-logo-computer-wallpaper-banner-thumbnail.png" alt="" /></a>
        <a href="https://www.codechef.com/users/aneesh06251" target="_blank" class="link"><img src="../../assets/images/Codechef(new)_logo.svg.png" alt="" /></a>
        <a href="https://leetcode.com/user6367uo/" target="_blank" class="link"><img src="../../assets/images/LeetCode_logo_black.png"></a>
      </div>
      </div>
  </footer>