<div class="container row col-6">
   
    <div class="name-tag ">
        <span style="color:#2AD87F ;"> Hello there,</span>
    </div>
    <br>
    <div class="name-tag ">
        <span> I'm Aneesh.</span>
    </div>
    <br>
   
<div class="header">
    
    <span class="typed-out">Software Engineer.</span>
    <div class="button">
    <button type="button" class="btn btn-primary mt-3 " onclick=" downloadResume()">Download Resume</button>
</div>
  </div>

</div>
<div class="side-container row col-6">
    <div class="image">
        <img src="../../assets/images/man.png" class="circle">
    </div>
</div>
