
<div class="conatainer col-12">
  <app-header></app-header>
  <br>
    <div class="recent-projects col-12 row" >
      <div class="header col-12">
        <span class="span-tag">My Works</span>
        <div class="line"></div>
    </div>
        </div>
        <div class="section-width col-12"> 
        <div class="section">
        <div id="carouselExampleControls" class="carousel slide mt-3" data-ride="carousel" data-interval = "false">
            <div class="carousel-inner" >
              <div class="carousel-item active">
                <img class="d-block m-auto" src="../../assets/images/cannot-display.png" alt="Third slide">
                <div class="carousel-caption d-md-block">
                    <h5>Capgemini-project</h5>
                    <p>
                        As part of a dynamic team, I contributed to the transformation of an existing Java-based project into an enhanced Angular front-end application. Our project focused on calculating network matrices and mapping global networks via the Google Maps API. In a span of 7-8 months, we added significant features like progress tracking and business analytics graphs. This effort led to our 
                        project receiving a prestigious "Wow" award, recognizing our innovative approach and successful execution.</p>
                  </div>
              </div>
              <div class="carousel-item">
                <img class="d-flex justify-content-center m-auto"  src="../../assets/images/portfolio.png" alt="First slide">
                <div class="carousel-caption  d-md-block">
                    <h5>Portfolio</h5>
                    <p>
                     I developed this portfolio using Angular 17, Bootstrap, and TypeScript. I successfully completed the entire page in just two days
                     and deployed it in firebase
                    </p>
                  </div>
              </div>
              <div class="carousel-item">
                <img class="d-block m-auto" src="../../assets/images/cannot-display.png" alt="Third slide">
                <div class="carousel-caption  d-md-block">
                    <h5>Capgemini-project</h5>
                    <p>
                      During my internship, I spearheaded the development of a robust backend application, where I adeptly managed file handling, API implementation, and executed comprehensive unit testing to ensure optimal performance and reliability.</p>
                  </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
