<div class="portfolio">
  
  <div class="banner">
    <div class="header ml-2">
      <app-header></app-header>
    </div>
    <app-banner></app-banner>
  </div>
  <div class="personal-details">
    <app-aboutmyself></app-aboutmyself>
  </div>
  <div class="experience">
    <app-experience></app-experience>
  </div>
  <div class="project-details">
    <app-about-projectss></app-about-projectss>
  </div>
  <div class="acheivements">
    <app-acheivements></app-acheivements>
  </div>
  <div class="contact">
    <app-contact></app-contact>
  </div>
</div>